<!DOCTYPE html>
<html>
<head>
  <% if Rails.env != "production" %>
    <meta name="robots" content="noindex">
  <% end %>
  <title>The Fabulous Party Boys</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
